.bg-nav {
  background-color: transparent !important;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.5)) !important;
}

.nosotros {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  background-color: #222;
}
.nosotros .image {
  flex: 1 1 40rem;
}
.nosotros .image img {
  width: 100%;
}
.nosotros .content {
  flex: 1 1 40rem;
}
.nosotros .content h1 {
  font-size: 5rem;
  color: orange;
}
.nosotros .content p {
  font-size: 1.6rem;
  color: white;
  padding: 1rem 0;
}
@media screen and (max-width: 480px) {
  .nosotros .content h1 {
    font-size: 4rem;
  }
}

.contacto {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: azure;
  background-color: #222;
}
.contacto .contact-container {
  max-width: 95%;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  background-color: #363653;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  overflow: hidden;
}
.contacto .form-container {
  padding: 20px;
}
.contacto .form-container h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.contacto .form-container .contact-form {
  display: grid;
  row-gap: 16px;
}
.contacto .form-container .contact-form .input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #4f5057;
  font-size: 15px;
  color: azure;
  border-radius: 7px;
}
.contacto .form-container .contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #4f5057;
  color: azure;
  border-radius: 7px;
  resize: none;
  height: 200px;
}
.contacto .form-container .contact-form .send-button {
  background-color: orange;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.contacto .form-container .contact-form .send-button:hover {
  background: rgba(243, 161, 7, 0.986);
  transition: all 3s linear;
}
.contacto .map iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .contacto .contact-container {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-top: 30px;
  }
  .contacto .map iframe {
    height: 400px;
  }
}
@media screen and (min-width: 480px) and (max-width: 900px) {
  .contacto .contact-container {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-top: 30px;
  }
  .contacto .map iframe {
    height: 400px;
  }
}

#servicios {
  background-color: #222;
  width: 100%;
  padding: 60px 60px;
  margin: auto;
}
#servicios h2 {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #FFF;
  position: relative;
  font-weight: 600;
}
#servicios .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2, 1fr;
  grid-gap: 30px;
}
#servicios .cards .card {
  background-color: #f2f2f2;
  color: #333;
  padding: 40px 12px;
  margin: 0 30px;
  text-align: center;
  cursor: pointer;
  transition: all 2s;
}
#servicios .cards .card:hover {
  background-color: fuchsia;
  color: white;
}
#servicios .cards .sbox img {
  padding: 15px;
}
#servicios .cards .sbox img:hover {
  transform: rotate(360deg);
  transition: all 2s;
}
#servicios .cards .sbox h3 {
  font-size: 20px;
}
#servicios .cards .sbox p {
  margin: 20px 0;
}
@media screen and (max-width: 700px) {
  #servicios .cards {
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    grid-gap: 10px;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  #servicios .cards {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    grid-gap: 10px;
  }
}

footer {
  bottom: 0px;
  width: 100%;
  background: black;
}

.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box p {
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #fcc050;
  top: -10px;
}

.left .content p {
  text-align: justify;
  color: #FFF;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: orange;
}

.center .content .fas {
  font-size: 16px;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: orange;
}
.center .content .text {
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  color: #FFF;
}
.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 16px;
  margin-bottom: 2px;
  color: #FFF;
}
.right form .msg {
  margin-top: 10px;
}
.right form input {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  height: 35px;
}
.right form input:focus {
  outline-color: #3498db;
}
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form textarea:focus {
  outline-color: #3498db;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: orange;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #000;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: orange;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

input {
  border: none;
  outline: none;
}

textarea {
  outline: none;
  outline: none;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
.trabajos {
  background-color: #222;
  padding: 80px 0;
}
.trabajos h1 {
  color: orange;
  font-size: 60px;
  text-align: center;
  text-transform: capitalize;
}
.trabajos .container-lg .row .col img {
  max-width: 100%;
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Contrail One", cursive;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
