@import "./componentes/header";
@import "./componentes/nosotros";
@import "./componentes/contacto";
@import "./componentes/index";
@import "./componentes/footer";
@import "./componentes/trabajos";
@import "./base/variables";
@import "./base/extends";
@import "./base/mixins";
@import "./base/maps";

*{
    padding: 0;
    margin:0;
}
body{
    font-family: 'Contrail One', cursive;
    overflow-x: hidden;
}
