@import "./componentes/header";
@import "./componentes/nosotros";
@import "./componentes/index";
@import "./componentes/footer";
@import "./base/variables";
@import "./base/extends";
@import "./base/mixins";
@import "./base/maps";

*{
    padding: 0;
    margin:0;
}
body{
    font-family: 'Contrail One', cursive;
    background-image: url(../multimedia/Fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
