

header{

    nav{
        div{
            display: flex;
            justify-content: space-around;
            a{
                .logo{
                    width: 30%;
                    margin: 5px;
                    border-radius: 50%;
                    .nav-bar{
                        ul{
                            .item{
                                 
                                .links{
                                    color:#fff;
                                    &:hover{
                                        border-bottom: 2px solid #fff;
                                        transition: 5s;                                    
                                    }

                                }
                                
                            }
                        }
                    }

                }
            }
        }
    }
}

