@import "../base/variables";
@import "../base/maps";


#servicios{
	background-color: #222;
	width: 100%;
	padding: 60px 60px;
	margin: auto;
	h2{
		text-align: center;
		font-size: $size-titulos;
		margin-top: 30px;
		margin-bottom: 30px;
		color: $text-color;
		position: relative;
		font-weight: 600;
	}
	.cards{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: 2,1fr;
		grid-gap:30px;
		.card{
			background-color: #f2f2f2;
			color: #333;
			padding: 40px 12px;
			margin: 0 30px;
			text-align: center;
			cursor: pointer;
			transition: all 2s;
		

			&:hover{
				background-color:fuchsia;
				color: white;
			}
		}
		.sbox{
			img{
				padding: 15px;

				&:hover{
					transform: rotate(360deg);
					transition: all 2s;
				}

			}
			h3{
				font-size: 20px;
			}
			p{
				margin: 20px 0;
			}
		}
	}
	@media screen and (max-width: 700px) {
		.cards{
			grid-template-columns:repeat(1,1fr);
        	flex-direction: column;
        	grid-gap: 10px;
		}
		
	}
	@media screen and (min-width:700px) and (max-width:900px)  {
		.cards{
			grid-template-columns:repeat(2,1fr);
        	flex-direction: column;
        	grid-gap: 10px;
		}		
	}
	
}
