@import "../base/variables";
@import "../base/mixins";

.nosotros {
    margin: 10px 10px;
    .titulo-nosotros{
        margin: 5px 5px;
        padding: 5px 5px;
        display: flex;
        justify-content: center;
        text-align: center;
        h1{
        font-size: 50px;
        color:$text-color;
        text-decoration: underline;
        }
    }
    .presentacion{
        img{
            width: 100%;
        }
        .parrafo{
            @include varios(#fff, 30px, 15px);
        }
    }
}
