@import "../base/variables";

.trabajos{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;

    h1{
        font-size: 64px;
        margin: 16px 0;
        color: #fff;
        text-decoration: underline;
    }
    .image-container{
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .image{
            height: 200px;
            width:300px;
            margin: 32px;
            position: relative;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}